html{
    background-color: var(--color-dark-tom1);
    
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    margin: 0px;
    padding: 0px;
}
main{
    background-color: var(--color-dark-tom1);
    display: flex;
    
    width: 100%;
    height: 100vh;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#entrada{
    color: var(--p-color);
    background-color: var(--color-dark-tom2);
    
    display: flex;
    
    height: 30px;

    font-size: 0.9em;
    
    flex: 1;
    
    word-wrap: normal;
    
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;

    box-shadow: 0 0 0 1px var(--color-dark-tom3);
    
    transition-duration: 200ms;
}

.botao{
    color: var(--color-dark-tom1);
    background-color: var(--color-dark-tom5);
    
    width: 60px;
    height: 30px;
    
    font-weight: bolder;

    border: none;
    border-radius: 10px;
    margin-left: 20px;

    cursor: pointer;
    
    transition-duration: 200ms;
}
p{
    padding: 0;
    margin: 15px 15px ;
}
.entradaarea{
    background-color: var(--color-dark-tom1);
    width: 100%;
    height: 50px;
    box-shadow: 0 -1px 0 0px var(--color-dark-tom3)
}
    .entradasubarea{
    display: flex;
    
    width: 100%;
    max-width: 600px;
    height: 50px;
    
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}
.saidaarea{
    background-color: var(--color-dark-tom2);
    display: flex;
    flex-direction: column-reverse;
    
    width: 100%;
    max-width: 600px;
    height: calc(100% - 100px);

    border-top: solid 10px var(--color-dark-tom2);

    box-shadow: 0px 0px 0px 1px var(--color-dark-tom3);
    
    overflow-y: scroll;
}
.mensagem{
    display: inline-block;

    color: var(--p-color);
    background-color: var(--color-dark-tom3);
    
    font-size: 0.9em;

    width: auto;
    max-width: 80%;
    height: auto;
    
    margin: 0px 5px 15px auto;
    padding: 10px 10px;
    
    word-wrap: break-word;
    border-radius: 8px 8px 0px 8px;
}
.formnome{
    display: flex;
    box-shadow: 0 0 0 1px var(--color-dark-tom3);

    width: 100%;
    max-width: 600px;

    justify-content: right;
}
.nome{
    width: 90%;
    height: 50px;

    cursor: pointer;

    background-color: var(--color-dark-tom1);
    color: var(--p-color);
    outline: none;
    border: none;
    margin-right: 0px;
}

/* ------------------------------ANIMAÇÕES ETC ----------------------------*/

#entrada:hover{
    box-shadow: 0 0 0 1px var(--color-dark-tom3);
}
#entrada:focus{
    box-shadow: 0 0 0 1px var(--color-dark-tom3);
}
.botao:hover{
    background-color: var(--color-dark-tom2);
    color: var(--color-dark-tom5);
}