@media only screen and (max-width: 600px){
    main{
        height: 90vh;
    }
    .entradaarea{
        position: fixed;
        bottom: 0px;
    }
    .entradasubarea{
        width: 90%;
    }
    .saidaarea{
        position: fixed;
        top: 0;
        border: none;
        height: calc(100% - 110px);
        margin: 0;
        padding: 0;
    }
}
